<?xml version="1.0"?>
<launch>
  <arg name="x" default="1.35"/>
  <arg name="y" default="1.35"/>
  <arg name="z" default="0.01"/>
  <arg name="roll" default="0"/>
  <arg name="pitch" default="0"/>
  <arg name="yaw" default="3.14"/>
 <param name="robot_description" command="$(find xacro)/xacro $(find Micromouse)/urdf/Micromouse.urdf.xacro" />
  <node
    name="spawn_model"
    pkg="gazebo_ros"
    type="spawn_model"
    args="-param robot_description -urdf -model micromouse -x $(arg x) -y $(arg y) -z $(arg z)
              -R $(arg roll) -P $(arg pitch) -Y $(arg yaw)"
    output="screen" />
       <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="20.0" />
    <param name="tf_prefix" type="string" value="" />
</node>
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="/use_gui" value="false"/>
    <rosparam param="/source_list">[/joint_states]</rosparam>
</node>

</launch>